@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-Black;
    @apply HighEmphasis;
  }
  section {
    @apply snap-start;
    @apply relative min-h-screen;
    @apply flex flex-col;
    /* @apply flex flex-col items-center justify-center h-screen; */

    /* perspective */
    transform-style: preserve-3d;
    /* transform: translate3d(500px, 0, -500px) rotateY(30deg); */
  }
  body {
    @apply w-screen;
    @apply h-screen;
  }
  main {
    @apply snap-y overflow-y-scroll snap-mandatory w-screen h-screen scroll-smooth;

    /* perspective */
    perspective: 300px;
    /* perspective-origin: 0%; */
  }
}

@layer components {
  .HighEmphasis {
    @apply text-TextColor opacity-90;
  }
  .MediumEmphasis {
    @apply text-TextColor opacity-70;
  }
  .Disabled {
    @apply text-TextColor opacity-40;
  }
  .navBarCircle {
    @apply h-2 w-2 rounded-full inline-block bg-white hover:scale-125; 
  }
  #active.navBarCircle {
    @apply scale-150 duration-100;
  }
  .navBarToolTip {
    @apply ml-4 text-xs opacity-0 group-hover:inline-block group-hover:opacity-100 group-hover:transition group-hover:scale-125; 
  }
  .parallax_layer {
    /* @apply absolute; */
    transform: translateZ(100px) scale(1);
    @apply bg-green-600;
    /* @apply inset-0; */
    @apply min-h-screen;
    @apply flex;
    /* @apply flex flex-col align-middle justify-center; */


    /* scale calculation: 1+ ((-Z transform value)/perspective) */
  }
  .staticClass {
    @apply flex w-1/2 bg-red-200 h-screen sticky top-0;
  }
  .desc {
    @apply flex flex-col w-1/2 bg-blue-200 h-full;
    height: 300vh;
  }
}
