/* stylelint-disable indentation */
@tailwind components;
@tailwind base;

@layer base {
    main {
        /* perspective: 10px; */
        /* perspective-origin: 65.7% 33%; */
        perspective: 10vw;

    }
}

@layer components {
    .pers3d {
        transform-style: preserve-3d;
    }

    .transZ-1 {
        transform: translateZ(1vw) scale(calc(1 - (1/10)));
        top:14%;
    }

    .transZ-6 {
        transform: translateZ(6vw) scale(calc(1 - (6/10)));
        top: 41%;
        left: -9%;
    }

    .transZ-07 {
        transform: translateZ(0.7vw) scale(calc(1 - (0.7/10)));
        top:23%;
        left: 7%;
    }

    .img-extension {
    }

    .img-extension-hi {

    }

    .desc-extension {

    }

    

}